.text-box h3 {
    color: pink;
}

.text-box #greycol {
    color: grey;
}

.text-box div p {
    color: red;
}

.text-box p {
    color: green;
}

.text-box p.yellow {
    color: yellow;
}

div~h3{color: black;} 

