.text-box h3 {
    color: pink;
}

.text-box #greycol {
    color: grey;
}

.text-box div p {
    color: red;
}

.text-box p {
    color: green;
}

.text-box p.yellow {
    color: yellow;
}

div~h3{color: black;}

.monday:hover{
    outline: hotpink;
    color: blueviolet;
    background-color: blanchedalmond;
}

.sereda:focus-within{
    border: 1px solid #4caf50;}